# Folders
test

.Rhistory
.vscode
**/.DS_Store
**/__pycache__
**/.ipynb_checkpoints
**/*.aux
**/*.log
**/*.fdb_latexmk
**/*.pdf
**/*.synctex.gz
**/*.fls
**/.*

scripts/.*

build/
dist/
mousechd.egg-info/
configs/